<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/subjects.css">

    {{!-- <link rel="shortcut icon" type="png" href="../pics/Screenshot__269_-removebg-preview.png"> --}}
    <title>Computer Science Courses on Turbulent</title>
    <script type="text/javascript" src="../script.js"></script>
</head>
</head>
<body>
 <!-- NAVIGATION -->
    <header>
        <div class="nav" id="nav">
            <div id="learned-logo">
                <a href="/" style="font-size: 40px;";">𝕋𝖚𝖗𝖇𝖚𝖑𝖊𝖓𝖙</a>
            </div>
            <div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="/static/images/courses/menu.png"></div>
            <ul id="list-switch">
                <li>
                    <a href="/jee"><img src="/static/images/courses/d1.png" class="icon">JEE</a>
                </li>
                <li>
                    <a href="/gate"><img src="/static/images/courses/paper.png" class="icon">GATE</a>
                </li>
                <li>
                    <a href="#"><img src="/static/images/courses/computer.png" class="icon">Computer Courses</a>
                </li>
                <li>
                    <a href="/subject#data"><img src="/static/images/courses/data.png" class="icon">Data Structures</a>
                </li>
                <li>
                    <a href="/subject#algo"><img src="/static/images/courses/algo.png" class="icon">Algorithm</a>
                </li>
                <li>
                    <a href="/subject#projects"><img src="/static/images/courses/projects.png" class="icon">Projects</a>
                </li>
            </ul>
        </div>
    </header>



    <!-- Main Title of the Page -->
    <div class="title">
        <span>Prepare for GATE Exams on Turbulent</span>
        <div class="shortdesc">
            <p>Learn from Educator for better higher studies in<br> Indian Institutes of Technologies(IIT)</p>
        </div>
    </div>


    <!-- Some KeyWords related to topic -->
    <div class="course">
        <div class="cbox">
            <div class="det"><a href="#digital">Digital Logic</a></div>
            <div class="det"><a href="https://en.wikipedia.org/wiki/Sequential_logic" target="_blank">Combinational & Sequential Circuits</a></div>
            <div class="det"><a href="https://en.wikipedia.org/wiki/ALU" target="_blank">Computer Arithmetic</a></div>
            <div class="det"><a href="https://en.wikipedia.org/wiki/Boolean_algebra" target="_blank">Boolean Algebra</a></div>
            <div class="det"><a href="computer_courses.html#algo">Algorithm</a></div>
            <div class="det"><a href="computer_courses.html#data">Data Structures</a></div>
        </div>
        <div class="cbox">
            <div class="det"><a href="#compiler">Compiler Design</a></div>
            <div class="det"><a href="#os">OS</a></div>
            <div class="det"><a href="#coaa">Computer Organization & Architecture</a></div>
            <div class="det"><a href="https://en.wikipedia.org/wiki/IPv4" target="_blank">IPv4 / IPv6</a></div>
            <div class="det"><a href="#cn">Computer Networks</a></div>
            <div class="det"><a href="#database">Databases</a></div>
            <div class="det"><a href="https://en.wikipedia.org/wiki/Theory_of_computation" target="_blank">Theory of Computation</a></div>
        </div>
        <div class="cbox">
            <div class="det"><a href="#math">Discrete Mathematics</a></div>
            <div class="det"><a href="#math">Calculus</a></div>
            <div class="det"><a href="#math">Linear Algebra</a></div>
            <div class="det"><a href="#math">Trigonometry</a></div>
            <div class="det"><a href="#math">Integration</a></div>
            <div class="det"><a href="#math">Matrices</a></div>
            <div class="det"><a href="#math">Probability</a></div>
            <div class="det"><a href="#math">Differentiation</a></div>
        </div>
    </div>


    <!-- Courses Available -->
    <div class="inbt">
        Accelerate your career with GATE programs
    </div>

    <div class="ccard">
        <center>
            <div class="ccardbox">
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/math.jpg"></div>
                    <a href="#math">
                        <div class="spart">2 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/digital.jpg"></div>
                    <a href="#digital">
                        <div class="spart">5 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/coaa.jpg"></div>
                    <a href="#coaa">
                        <div class="spart">3 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/database.jpg"></div>
                    <a href="#database">
                        <div class="spart">3 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/data-algo.jpg"></div>
                    <a href="computer_courses.html#data">
                        <div class="spart">6 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/compiler.jpg"></div>
                    <a href="#compiler">
                        <div class="spart">2 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/os.jpg"></div>
                    <a href="#os">
                        <div class="spart">1 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
                <div class="dcard">
                    <div class="fpart"><img src="/static/images/courses/cn.jpg"></div>
                    <a href="#cn">
                        <div class="spart">3 Courses <img src="/static/images/icon/dropdown.png"></div>
                    </a>
                </div>
            </div>
        </center>
    </div>


    <!-- Videos on ENGINEERING MATHEMATICS Lectures -->

    <div class="title2" id="math">
        <span>Engineering Mathematics</span>
        <div class="shortdesc2">
            <p>Practice Mathematics on your tips...</p>
        </div>
    </div>

    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/math.jpg">
                    <iframe src="https://www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="https://www.youtube.com/watch?v=xxGyTHWrHZg" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Videos on DIGITAL LOGIC Lectures -->

    <div class="title2" id="digital">
        <span>Digital Logic</span>
        <div class="shortdesc2">
            <p>Learn deeply about Digital Logic Circuits...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/digital.jpg">
                    <iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/-M7oIM8hKSU" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Videos on COMPUTER ORGANIZATION and ARCHITECTURE Lectures -->

    <div class="title2" id="coaa">
        <span>Computer Organization and Architecture</span>
        <div class="shortdesc2">
            <p>Build your concepts strong easily with our great tutors...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/coaa.jpg">
                    <iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/q6oiRtKTpX4" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Videos on COMPILER Lectures -->

    <div class="title2" id="compiler">
        <span>Compiler Design</span>
        <div class="shortdesc2">
            <p>Build your concepts strong easily with our great tutors...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/compiler.jpg">
                    <iframe src="https://www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/yNZIhF6pxjM" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Videos on OPERATING SYSTEM Lectures -->


    <div class="title2" id="os">
        <span>Operating System</span>
        <div class="shortdesc2">
            <p>Build your concepts strong easily with our great tutors...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/os.jpg">
                    <iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>

    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/vBURTt97EkA" target="_blank">Click Here to Watch full playlist</a>
    </div>


    <!-- Videos on DATABASE Lectures -->

    <div class="title2" id="database">
        <span>Databases</span>
        <div class="shortdesc2">
            <p>Build your concepts strong easily with our great tutors...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/database.jpg">
                    <iframe src="https://www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/wR0jg0eQsZA" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Videos on COMPUTER NETWORKS Lectures -->

    <div class="title2" id="cn">
        <span>Computer Networks</span>
        <div class="shortdesc2">
            <p>Build your concepts strong easily with our great tutors...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><img src="/static/images/courses/cn.jpg">
                    <iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>

    <br><br>
    <div class="click-me">
        <a href="https://youtu.be/qiQR5rTSshw" target="_blank">Click Here to Watch full playlist</a>
    </div>



    <!-- Links for SAMPLE PAPERS of JEE MAINS & ADVANCED -->

    <div class="title2" id="sample_papers">
        <span>Sample Papers 2014-19</span>
        <div class="shortdesc2">
            <p>Practice more and more question papers</p>
        </div>
    </div>

    <div class="sample">
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-C</a></li>
        </ul>
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2015 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2015 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2015 Set-C</a></li>
        </ul>
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2016 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2016 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2016 Set-C</a></li>
        </ul>
    </div>
    <div class="sample lastSample">
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2017 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2017 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2017 Set-C</a></li>
        </ul>
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2018 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2018 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2018 Set-C</a></li>
        </ul>
        <ul>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2019 Set-A</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2019 Set-B</a></li>
            <li><a href="/static/samplePapers/p1.pdf" target="_blank">Sample Paper 2019 Set-C</a></li>
        </ul>
    </div>

<!-- PROJECTS -->
    <div class="title2" id="projects">
        <span>Browse Projects</span>
        <div class="shortdesc2">
            <p>Here you can find various Projects related to Web Deveopment, AI, Java Projects, etc</p>
        </div>
    </div>
    <div class="project-panel">
        <div class="project-card">
            <img src="/static/images/quiz.png">
            <div class="info">
                <h4>Quiz</h4>
                <p>Interactive Quiz made using HTML,CSS and JavaScript</p>
                <div class="download"><a href="https://github.com/Darkshied2/Turbulent-quiz" target="_blank">Download</a></div>
            </div>
        </div>
        <div class="project-card">
            <img src="/static/images/penguinchat.png">
            <div class="info">
                <h4>Educator</h4>
                <p>It is Chatting Website made using React Js</p>
                <div class="download"><a href="https://github.com/Darkshied2/chatapp" target="_blank">Download</a></div>
            </div>
        </div>
        <div class="project-card">
            <img src="/static/images/portfolioharsh.png">
            <div class="info">
                <h4>Portfolio</h4>
                <p>This Website helps you to manage your Personal Details developed using HTML, CSS & JavaScript</p>
                <div class="download"><a href="https://github.com/Darkshied2/Portfolio" target="_blank">Download</a></div>
            </div>
        </div>
        <div class="project-card">
            <img src="/static/images/chatmasteer.png">
            <div class="info">
                <h4>Login App</h4>
                <p>This authenticator app made using Flutter</p>
                <div class="download"><a href="https://github.com/Darkshied2/guess-number-master" target="_blank">Download</a></div>
            </div>
        </div>

    </div>


{{!---------------- footer------------ --}}


    <footer class="footer1" style="border: 30px; background-color:rgb(222, 80, 127)">
  <div class="container">
    <div class="col-md-12" style="padding-top: 10px; padding-bottom:5px">
      &copy; 2023 Copyright: All Right Reserved
      <b><p>Turbulent</p></b>
    </div>
  </div>
</footer>


<script>
  const disabledKeys = ["c", "C", "x", "J", "u", "I"]; // keys that will be disabled
  const showAlert = e => {
    e.preventDefault(); // preventing its default behaviour
    return alert("Sorry, you can't view or copy source codes this way!");
  }
  document.addEventListener("contextmenu", e => {
    showAlert(e); // calling showAlert() function on mouse right click
  });
  document.addEventListener("keydown", e => {
    // calling showAlert() function, if the pressed key matched to disabled keys
    if((e.ctrlKey && disabledKeys.includes(e.key)) || e.key === "F12") {
      showAlert(e);
    }
  });
</script>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>